 <!--Footer-->
 <div class="footer-basic" style="background-color: #09202b!important;">
    <footer>
      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
            class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
            class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
        <li class="list-inline-item" style="color: beige;"><a href="#">Home</a></li>
        <li class="list-inline-item" style="color: beige;"><a href="#">Login</a></li>
        <li class="list-inline-item" style="color: beige;"><a href="#">Occasion</a></li>
        <li class="list-inline-item" style="color: beige;"><a href="#">Aide</a></li>
        <li class="list-inline-item" style="color: beige;"><a href="#">Panier</a></li>
      </ul>
      <p class="copyright">MedShop © 2022</p>
    </footer>
  </div>