<app-navbar1></app-navbar1> 
<br> 


<app-navbar2></app-navbar2>
  

<div class="app">
  <div class="container mb-5 mt-5">
    <h1 class="text-center mt-4 mb-4">Latest Product</h1>

    <div class="row">
      <div *ngFor="let temp of products" class="col-md-4">

        <div class="card mt-3" >
          <div class="product-1 align-items-center p-2 text-center">
            <div class="image-container" >
               <img class="xyz rounded" src="{{temp.imageUrl}}" width="200"  >
              <img class="xyz-replacement rounded" src="{{temp.imageShadow}}" width="200" height="auto" >
            </div>
            <h5>{{temp.nom}}</h5>
            
            <div class=" cost mt-3 text-dark"> <span>{{temp.prix | currency: 'DT'}} </span>
              <div class=" star mt-3 align-items-center"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                  class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            </div>
          </div>
          <div class="p-3 bg-danger text-center text-white mt-3 cursor cart"> <button (click)="addToCart(temp)" style="text-decoration: none; color: rgb(249, 249, 249);background-color: #fb3531;border: 0px transparent;"><span class="text-uppercase cart-text">Add
              to cart</span> </button></div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div *ngIf="products?.length == 0" class="alert alert-danger" role="alert" style="text-align:center;font-size:30px">
  No Products Found
</div>
<app-footer></app-footer>