
<app-navbar1></app-navbar1> 
<br> 
<app-navbar2></app-navbar2>
  <br>
  

<br>
<br>

<h1>  Everything You Need to Know About Hair Loss </h1>

<p style="padding: 50px;"> Hair loss (alopecia) is a fairly common occurrence. While it’s more prevalent in older adults, anyone can experience it, including children.<br><br>

    It’s typical to lose between 50 and 100 hairs a day, according to the American Academy of Dermatology (AAD). With about 100,000 hairs on your head, that small loss isn’t noticeable. New hair normally replaces the lost hair, but this doesn’t always happen.
    
    Hair loss can develop gradually over years or happen abruptly. Depending on the underlying cause, it may be temporary or permanent. <br><br>
    
    Trying to tell if you’re actually losing hair or just experiencing some normal shedding? Unsure if it’s time to see a doctor? Read on for more information about hair loss and how to manage it.</p>


<h1>  Diagnosing Hair Loss

</h1>
<p style="padding: 50px;">
    NYU Langone dermatologists are experienced in recognizing the signs of hair loss, whether the cause is genetic, medical, or environmental. They visually assess the pattern of hair loss to ascertain the type of hair loss and confirm diagnosis by using advanced techniques, including a computerized measurement tool that magnifies the scalp’s appearance by up to 100 times.

    If your doctor suspects that an underlying medical condition may be the cause of hair loss, a blood test or scalp biopsy may be recommended. All of these diagnostic tests can be conducted in your dermatologist’s office.
</p>
<br>
<h1>  Treatement

</h1>

<br>


<section class="dishes" id="dishes">

    <h3 class="sub-heading">Havig a bad day because of headache ? </h3>
    <h1 class="heading">Don't Worry </h1>

    <div class="box-container">

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a routerLink="/dafalgan1g" class="fas fa-eye"></a>
            <img src="..\assets\images\Dafalgon\dafalgan 1g.jpg" alt="dafalgon">
            <h3>DAFALGAN  1 gr -Comprimé pelliculé  b/8
</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span> Price :2.700 DT </span>
            
            <a href="#" class="btn">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                               add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Doliprane 500mg\doliprane 500(1).jpg" alt="">
            <h3>Doliprane 500 mg Vitamine C </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-alt"></i>
            </div>
            <span>Price: 4.160 DT</span>
            <a href="#" class="btn">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                             add to cart
                            </a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Doliprane 1000 mg\doliprane1000(tabs).jpg" alt="doliprane">
            <h3>Doliprane 1000 mg Comp.Sec</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Price: 3.210 DT </span>
            <a href="#" class="btn">  <i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Dolirhume\Dolirhume(1).jpg" alt="">
            <h3>DOLIRHUME 500 mg</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Price 2.200 DT</span>
            <a href="#" class="btn">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                  add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\panadol\panadol.jpg" alt="panadol">
            <h3>Panadol Extra </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-alt"></i>
            </div>
            <span>Price; 3.270 Dt</span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src='..\assets\images\Aspirine 500 mg\aspirine(1).jpg' alt="aspirine">
            <h3>ASPIRINE 500mg Comp.</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>Price :2.180 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Ipraféine\Ipraféine(1).jpg" alt="Ipraféine">
            <h3>IPRAFEINE 400 mg/100 mg</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-alt"></i>
            </div>
            <span>Price: 4.590 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Paracétamol\Paracétamol(1).jpg" alt="Paracétamol">
            <h3>PARACETAMOL 500mg comp. </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Price: 1.700 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Aspégic 500mg\aspégic 500.jpg" alt="Paracétamol">
            <h3>ASPEGIC 500 mg, Poudre en Sachet</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>Price: 3.000 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Aspégic 1000mg\aspégic 1000.jpg" alt="Paracétamol">
            <h3>ASPEGIC 1000 mg, Poudre</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>Price: 6.000 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\Ibuprane\ibuprane.jpg" alt="Ibuprane">
            <h3>Ibuprane 400 mg comp</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                
            </div>
            <span>Price: 4.585 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="..\assets\images\EFFERALGAN\effer.jpg" alt="Efferalgan">
            <h3>Efferalgan Vitamine C</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>Price: 3.000 DT </span>
            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                add to cart</a>
        </div>



    </div>



</section>