<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="menu" style="background-color:rgb(218, 245, 232)">
  <div class="logo">
    <img src="../assets/images/logo.PNG" alt="logo" height="50px" width="50px">
  </div>

  <app-search></app-search>

  <ul>
    <li> <a href="/"> <i class="fa fa-home"></i>Home </a></li>
    <li><a href="#"><i class="fa fa-clone"></i>Connecter</a>
      <div class="sub-menu1">
        <ul>
          <li><a *ngIf="authService.isloggedIn" (click)="onLogout()" routerLink="/">Logout</a></li>
          <li> <a *ngIf="!authService.isloggedIn" routerLink="/login">Login</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-angellist"></i>Aide</a>
      <div class="sub-menu1">
        <ul>
          <li> <a href="#">FAQ</a></li>
          <li> <a href="#">Suivi des commandes</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-users"></i>{{authService.loggedUser}}</a></li>
    <!--<li><a href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Panier</a></li> -->
    <app-card-status></app-card-status>


  </ul>
</div>
<!--End of nav1-->