<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="menu"style="background-color:rgb(218, 245, 232)">
  
    <ul>
      <li> <a style="color: black;" routerLink="/category/1" routerLinkActive="active-link"> <i class="fa fa-home"></i>Covid-19 </a></li>
      <li><a routerLink="/category/2" routerLinkActive="active-link"><i class="fa fa-clone"></i>Soins et Pansements</a>
        <div class="sub-menu2">
          <ul>
            <li> <a href="/sub-category"> Soins</a></li>
            <li> <a href="/sub-category">Pansements </a></li>
            <li> <a href="/sub-category"> Accessoires</a></li>
           
          </ul>
        </div>
      </li>
      <li><a routerLink="/category/3" routerLinkActive="active-link"><i class="fa fa-thermometer-full" aria-hidden="true"></i>
        Cardiologue</a>
        <div class="sub-menu2">
          <ul>
            <li> <a href="/sub-category">ECG et Hotlers</a></li>
            <li> <a href="/sub-category">Equipement diagnostic</a></li>
            <li> <a href="/sub-category">Moniteurs</a></li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/category/4" routerLinkActive="active-link"><i class="fa fa-stethoscope" aria-hidden="true"></i>
        Instrumentations</a>
  
        
      </li>
      <li><a routerLink="/category/5" routerLinkActive="active-link"><i class="fa fa-wheelchair" aria-hidden="true"></i>
        Kinésithérapie</a>
  
        <div class="sub-menu2">
          <ul>
            <li> <a routerLink="/tablemassage">Table de massage</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/category/6" routerLinkActive="active-link"><i class="fa fa-angellist"></i>Mobilier</a>
  
        <div class="sub-menu2">
          <ul>
            <li> <a href="/sub-category">Exemple 1</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
            <li> <a href="/sub-category">Exemple 2</a></li>
          </ul>
        </div>
      </li>
  
  
    </ul>
  </div>
  <!--End of nav2-->